@font-face {
    font-family: 'sweden_sansregular';
    src: url('fonts/wedensans-webfont.eot');
    src: url('fonts/swedensans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/swedensans-webfont.woff2') format('woff2'),
         url('fonts/swedensans-webfont.woff') format('woff'),
         url('fonts/swedensans-webfont.ttf') format('truetype'),
         url('fonts/swedensans-webfont.svg#sweden_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: #005293;
  overflow-x: none;
  width: 100vw;
}

h1 {
  font-family: 'sweden_sansregular', sans-serif;
  font-size: 45px;
  color: #FECB00;
  margin-left: 25px;
  margin-top: 100px;
}

h2 {
  font-family: 'sweden_sansregular', sans-serif;
  font-size: 35px;
  color: #FECB00;
}

h3 {
  font-family: 'sweden_sansregular', sans-serif;
  font-size: 25px;
  color: #FECB00;
}

p {
  font-family: 'sweden_sansregular', sans-serif;
  font-size: 18px;
  color: white;
}

.caption {
  font-size: 13px;
  color: #001b5d;
}

.inline {
  display: inline;
}

.center {
  display: flex;
  justify-content: center;
}

#fix {
  z-index: 2;
}

.flag-line {
  background-color: #FECB00;
  position: fixed;
}

.vertical {
  left: 0;
  top: 100px;
  width: 100vw;
  height: 10px;
  z-index: 3;
}

.horizontal {
  left:100px;
  top:0;
  width: 10px;
  height: 100vh;
  z-index: 3;
}

.top-bar {
  position:  fixed;
  background-color: #005293;;
  top:0;
  left:0;
  width: 100vw;
  height:100px;
  z-index: 2;
}

#title {
  position: fixed;
  left: 150px;
  top:0;
  z-index: 2
}

#container {
  margin-top: 100px;
  margin-left: 100px;
  padding-left: 20px;
  padding-top: 20px;
}

#header {
  left:0;
  top:0;
  width: 90vw;
}

.geography {
  width: 400px;
  height: 800px;
  display: inline-block;
}

#geography-map {
  margin-left: 300px;
  margin-top: -100px;
  width: 400px;
  height: 800px;
  display: inline-block;
}

.geography-city, #geography-map:hover .geography-norm {
  display: none;
}

#geography-map:hover .geography-city{
  display: inline;
}

.geography-key {
  width: 300px;
}

#transportation-parent{
  position: relative;
}

.transportation-caption {
  position: absolute;
  background-color: white;
  border: #001b5d 3px solid;
}

.transportation-caption p {
  margin: 6px;
}

.transportation-railway {
  margin-top: -100px;
}

.railway-caption {
  margin-top: -500px;
  margin-left: 200px;
}

.plane-caption {
  margin-top: -290px;
  margin-left: 710px;
}

.transportation-plane {
  width: 50px;
  top:450px;
  left: 650px;
  position: relative;
}

.city-caption {
  margin-top: -160px;
  margin-left: 700px;:
}

#compared-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.compared-buttons {
  margin-left:25px;
  width: 50px;
  display: flex;
  flex-direction: column;
}

.compared-button {
  width: 50px;
  padding-bottom: 50px;
}

.compared-button:hover{
  cursor: pointer;
}

.compared-chart {
  width: 1000px;
  padding-right: 0;
  display: none;
  margin-top: -100px;
}

.compared-active{
  display: block;
}

#climate-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.climate-chart {
  max-width: 600px;
}

.calendar-grid{
  display: flex;
  flex-wrap: wrap;
}

.calendar {
  margin: 20px;
  width: 200px;
  height: 150px;
  background: white;
  border: #001b5d solid 3px;
  border-radius: 10px;
}

.calendar-date {
  padding-left: 20px;
  padding-top: 10px;
  color: #001b5d;
}

.calendar-1:hover {
  background: url(img/northern-lights/lights1.jpg) no-repeat;
  background-size: 200px 160px;
}

.calendar-2:hover {
  background: url(img/northern-lights/lights2.jpg) no-repeat;
  background-size: 200px 160px;
}

.calendar-3:hover {
  background: url(img/northern-lights/lights3.jpg) no-repeat;
  background-size: 200px 160px;
}

.calendar-4:hover {
  background: url(img/northern-lights/lights4.jpg) no-repeat;
  background-size: 200px 160px;
}

.calendar-5:hover {
  background: url(img/northern-lights/lights5.jpg) no-repeat;
  background-size: 200px 160px;
}

.calendar-6:hover {
  background: url(img/northern-lights/lights6.jpg) no-repeat;
  background-size: 200px 160px;
}

.calendar-7:hover {
  background: url(img/northern-lights/lights7.jpg) no-repeat;
  background-size: 200px 160px;
}

.calendar-8:hover {
  background: url(img/northern-lights/lights8.jpg) no-repeat;
  background-size: 200px 160px;
}

.populationchange-graph {
  width: 900px;
  padding-top: 50px;
  margin-bottom: -50px;
  margin-left: -75px;
}

#ports-directory {
  margin-left: -10px;
}

.ports-tab{
  width: 150px;
  border: 3px solid #FECB00;
  text-align: center;
  padding-top: 15px;
  display: inline-block;
  margin-bottom: -3px;
  margin-left: 10px;
  z-index: 1;
}

.port-tab:hover {
  cursor: pointer;
}

.ports-tab h3 {
  cursor: pointer;
  padding-left: 5px;
}

.ports-active {
  border-bottom: #005293 3px solid;
}

.ports-line {
  width: 92vw;
  height: 3px;
  background: #FECB00;
}

.ports-graph {
  width: 1200px;
  display: none;
  margin-bottom: -50px
}

.ports-display {
  display: inline;
}

.energy-parent {
  display: flex;
  justify-content: space-between;
}

.group{
  padding-top: 50px;
}

.energy-grid {
  display: inline-grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 75px 75px 75px 75px 75px;
}


.energyimg {
  width: 40px;
}

.energy-swed {
  margin-left: 80px;
}

.energy-usa {
  margin-right:100px;
}

.entitle-swed {
  margin-left:80px;
  color: white;
}

.entitle-usa {
  margin-right:100px;
  text-align: right;
  color: white;
}

.energy-caption {
  display: none;
  position: absolute;
  background-color: white;
  border: #001b5d 3px solid;
}

.energy-caption p {
  color: #001b5d;
  margin: 6px;
}

.renewable-swedcaption {
  left: 500px;
}

.renewable-swed:hover ~ .renewable-swedcaption {
  display: inline;
}

.nuclear-swedcaption {
  left: 500px;
  margin-top:150px;
}

.nuclear-swed:hover ~ .nuclear-swedcaption {
  display: inline;
}

.oil-swedcaption {
  left: 500px;
  margin-top:225px;
}

.oil-swed:hover ~ .oil-swedcaption {
  display: inline;
}

.gas-usacaption {
  left: 1200px;
}

.gas-usa:hover ~ .gas-usacaption {
  display: inline;
}

.oil-usacaption {
  left: 1200px;
  margin-top:75px;
}

.coal-usacaption {
  left: 1200px;
  margin-top:225px;
}

.coal-usa:hover ~ .coal-usacaption {
  display: inline;
}

.oil-usa:hover ~ .oil-usacaption {
  display: inline;
}

.renewable-usacaption {
  left: 1200px;
  margin-top:225px;
}

.renewable-usa:hover ~ .renewable-usacaption {
  display: inline;
}


.nuclear-usacaption {
  left: 1200px;
  margin-top:300px;
}

.nuclear-usa:hover ~ .nuclear-usacaption {
  display: inline;
}

.demoimg {
  height: 400px;
}

.demo-parent {
  display: flex;
  flex-direction: row;
  width: 1000px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 100px;
}

.demo {
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: flex-end;
}

.demo-larger {
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: flex-end;
}

.demo-text {
  text-align: right;
}

.agri-line {
  height: 3px;
  width: 90vw;
  background: #FECB00;
}

.agri-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agri-text {
  margin-left: 25px;
}

.agriimg {
  width: 150px;
  margin-right: 100px;
}

.agri-row:hover .agriimg {
  width: 300px;
}

/*timeline*/
.history-collapsible {
  background-color: #005293;
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.history-era {
  float: left;
  margin: 0;
  padding: 10px 15px;
  padding-left: 0;
}

.history-date {
  float: right;
  margin: 0;
  padding: 10px 20px;
}

.history-content {
  padding: 0 18px;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #005293;
  margin-left: 20px;
}

.history-flex {
  display: flex;
}

.history-sideimg {
  width: 600px;
  height: 400px;
  padding: 20px 0 40px 40px;;
}

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 300px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 5px;
  background: #FECB00;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #FECB00;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 10px;
  font-size: 1rem;
  white-space: normal;
  color: #FECB00;
  background: #005293;
  border: 3px #FECB00 solid;
}

.timeline ol li div p{
  margin-left: 10px;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.timeline-img{
  height: 400px;
  display: none;
  z-index: 1;
}

.arrows {
 display: flex;
 justify-content: center;
 margin-bottom: 20px;
}

.arrow {
   background-color: #005293;
   border: none;
}

.timeline .arrows .arrow__prev {
 margin-right: 20px;
}

.timeline .disabled {
 opacity: .5;
}

.timeline .arrows img {
 width: 45px;
 height: 45px;
}

#architecture-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  position: relative;
}

.architecture-thumbnail img {
  width: 200px;
  border: 2px solid #FECB00;
}

.architecture-thumbnail:hover{
  background-color: transparent;
}

.architecture-thumbnail span{ /*CSS for enlarged image*/
  position: absolute;
  padding: 0;
  left: -1000px;
  border: 3px solid #FECB00;
  visibility: hidden;
}

.architecture-thumbnail span img{ /*CSS for enlarged image*/
  border-width: 0;
  padding: 0 0 5px;
  width: 450px;
}

.architecture-thumbnail:hover span{ /*CSS for enlarged image*/
  visibility: visible;
  top: 0;
  left: 820px; /*position where enlarged image should offset horizontally */
  z-index: 1;
  width: 450px;
}

.architecture-thumbnail p, h3 {
  padding-left: 10px;
  margin-top: 0;
}

.dala {
  width: 850px;
}

#ikea-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
}

.ikea-chair {
  width: 50px;
}

#colophon-title {
  margin-left: 25px;
  margin-top: 100px;
}

#colophon-container p{
  margin-left: 25px;
  margin-bottom: 75px;
}
