@font-face {
	font-family: 'Lack Regular';
	src: url('../assets/css/lack-regular.woff');
}
@font-face {
	font-family: 'Lack Line Regular';
	src: url('../assets/css/lack-line-regular.woff');
}
@font-face {
	font-family: 'GT America Regular';
	src: url('../assets/css/GT_America_Regular.otf');
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

body {
	 overflow-x: hidden;
}

h1{
	font-family: 'Lack Regular', sans-serif;
	font-size: 48pt;
	padding-left: 48px;
	line-height: 36pt;
}

h2 {
	font-family: 'Lack Regular', sans-serif;
	font-size: 24pt;
}

h3 {
	font-family: 'Lack Regular', sans-serif;
	font-size: 18pt;
}

p {
  font-family: 'GT America Regular', sans-serif;
	font-size: 12pt;
}

a {
  text-decoration: none;
  color: inherit;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

.topnav {
	height: 48px;
	width: 100vw;
	left: 0;
	position: fixed;
	top:0;
	z-index: 1;
	background-color: white;
}

.topnav a {
  font-family: 'Lack Regular', sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: black;
  font-size: 18pt;
	line-height: 48px;
}

.topnav a:hover {
  font-family: 'Lack Line Regular', sans-serif;
}

.home {
  padding-left: 48px;
}

.topnavRight {
  float: right;
}

.navlink {
  padding-right: 48px;
}

.headerphoto {
	width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
	top: 40px;
  margin-left: -50vw;
  margin-right: -50vw;
}

.sideimg {
	float: right;
	padding-right: 48px;
	padding-left: 48px;
	width: 30vw;
}

.centimg {
	width: 70vw;
	margin: 10px auto 20px;
	display: block;
}

.lefttex {
	padding-left: 48px;
	padding-right: 600px;
}

.subtex {
	padding-left: 96px;
	padding-right: 552px;
}

.tit {
	display: inline-block;
}

.rightinfo {
	float: right;
	padding-right: 48px;
	margin-top: 24px;
}

.fig {
	width: 70vw;
	height: 70vh;
	margin: 10px auto 20px;
	display: block;
}

.buttonparent {
	display: flex;
	justify-content: center;
}

.button {
	border: 2px solid #4982D8;
	color: #4982D8;
  border-radius: 25px;
	font-size: 18pt;
	text-align: center;
	font-family: 'GT America Regular', sans-serif;
	padding: 6px 24px;
	display: inline-block;
}

.button:hover {
	background-color: #4982D8;
	color: white;
}

.drop {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
