@font-face {
	font-family: 'Lack Regular';
	src: url('lack-regular.woff');
}
@font-face {
	font-family: 'Lack Line Regular';
	src: url('lack-line-regular.woff');
}
@font-face {
	font-family: 'GT America Regular';
	src: url('GT_America_Regular.otf');
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

body {
	 overflow-x: hidden;
}

h2 {
	font-family: 'Lack Regular', sans-serif;
	font-size: 36pt;
	text-align: center;
}

p {
  font-family: 'GT America Regular', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.topnav {
	height: 48px;
	width: 100vw;
	left: 0;
	position: fixed;
	top:0;
	z-index: 1;
	background-color: white;
}

.topnav a {
  font-family: 'Lack Regular', sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: black;
  font-size: 18pt;
	line-height: 48px;
}

.topnav a:hover {
  font-family: 'Lack Line Regular', sans-serif;
}

.home {
  padding-left: 48px;
}

.topnavRight {
  float: right;
}

.navlink {
  padding-right: 48px;
}

#on {
	text-decoration: underline;
}

#on:hover {
	font-family: 'Lack Regular', sans-serif;
}

.sig {
  padding-bottom: 48px;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}
.child{
  padding-bottom: 60px;
	cursor: pointer;
}

.photo {
  width: 600px;
}

.title {
  margin-left: 36px;
	font-size: 12pt;
}

.about {
	margin-top: 96px;
	font-size: 24pt;
	margin-left: 48px;
	margin-right: 48px;
}

.contact {
	margin-top: 96px;
	font-size: 24pt;
	margin-left: 48px;
	font-family: 'Lack Regular', sans-serif;
}

.contact a:hover {
	font-family: 'Lack Line Regular', sans-serif;

}

#canvas {
	display: block;
}
